body {
  background-color: #3C0008;
}
h1 {
  text-align:center;
  color: black;
  font-family: "Garamond", serif;
  font-size: 2em;
}
ul.nav {
  list-style-type: none;
  bakcground-color: maroon;
  position: fixed;
  top: 0;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  width: 100%;
}
li.nav{
  float: right;
}

li.nav a {
  font-family: "Times New Roman", serif;
  font-size: 1.5em;
  display: block;
    color :black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

li.nav a:hover {
  background-color: red;

}

ul.nodot {
  list-style-type: none;
  margin-left: 8%;
}
p {
  font-size: 20;
}
header.resume {
  padding-top: 5%;
  text-align: center;
}

td {
  padding-left: 10;
}
