body {
  background-color: maroon;
}
h1.down {
  padding-top: 60;
}
h1 {
  text-align:center;
  color: white;
  font-family: "Times New Roman", serif;
  font-size: 2em;
}
h2 {
  color: white;
  font-family: "Comic Sans", serif;
}
h3 {
  color: #d3d3d3;
}
h4 {
  color: #d3d3d3;
}
ul.nav {
  list-style-type: none;
  bakcground-color: maroon;
  position: fixed;
  top: 0;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  width: 100%;
}
li.nav{
  float: right;
}

li.nav a {
  font-family: "Times New Roman", serif;
  font-size: 1.5em;
  display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

li.nav a:hover {
  background-color: red;

}

ul.nodot {
  list-style-type: none;
  margin-left: 8%;
}
p {
  color: grey;
  font-size: 20;
}
header.resume {
  padding-top: 5%;
  text-align: center;
}

ul.perler {
  color: #b0b0b0;
}
ul.navy {
  color: #b0b0b0;
}
ul.fam {
  color: #b0b0b0;
}
td {
  padding-left: 10;
}
tr {
  color: grey;
}
